*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*tamanho da caixa é calculado pelo width, independente de padding*/
}

body{
    background: url(images/mobile-darkmode.jpg) no-repeat top center/cover;
    
}

body *{
    font-family: "Inter", sans-serif;
    color: white;
}

.container{
    width: 360px;
    margin: auto;
    margin: 56px auto 0px;
    padding: 0 24px;

    /*border: 1px solid cyan;*/
}

.profile{
    text-align: center;
    padding: 24px;

    /*border: 1px solid plum;*/
}

.profile img{
    width: 112px;
    margin: auto;

    border-radius: 50%;
    border: 2px solid gray;
    display: block;     /*centralize element with margin: auto*/
}

.profile p{
    font-weight: 500;
    margin-top: 8px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;      /*gap só funciona com flexbox*/

    /*border: 1px solid lawngreen;*/
}

ul a{
    display: flex;      /*a ocupa todo o espaço da caixa li*/
    justify-content: center;
    align-items: center;

    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);     /*safari*/

    text-decoration: none;
    font-weight: 500;

    transition: background .2s;    /*transição mais suave p estado de hover// transition: propriedade tempo*/
}

ul a:hover{
    background: rgba(255, 255, 255, 0.05);

    border: 1px solid white;
}

.social{
    padding: 24px 0;
    font-size: 24px;

    display: flex;
    justify-content: center;
}

.social ion-icon{
    display: flex;      /*centralizar ícones no estado de hover*/
    align-items: center;
    justify-content: center;

    padding: 16px;   /*padding e border-radius da bolinha do hover*/
    border-radius: 50%;

    transition: background 0.2s;
}

.social ion-icon:hover{
    background: rgba(255, 255, 255, 0.2);
}

footer{
    padding: 24px;

    display: flex;
    
}